html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
span,
a,
label,
p {
  color: #001f3f;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #fff;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #001f3f;
  cursor: pointer;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}
